<section class="post-container" *ngFor="let post of posts">
  <div class="header-container">
    <img
      src="/assets/{{ post.picture }}.jpg"
      alt="profile-picture"
      class="post-picture"
    />

    <div class="post-title">{{ post.title }}</div>
  </div>
  <div class="post-username">{{ post.username }}</div>
  <div class="post-date">{{ post.date }}</div>
  <div class="post-body">{{ post.body }}</div>
  <section class="post-icons">
    <fa-icon [icon]="faHeart"></fa-icon>
    <fa-icon [icon]="faComment"></fa-icon>
    <fa-icon [icon]="faShare"></fa-icon>
    <fa-icon [icon]="faRetweet"></fa-icon>
  </section>
</section>
